<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/743/743007.png" alt="Logo" width="30" height="24"
        class="d-inline-block align-text-top">
      <span class="navbar-brand mb-0 h1">Recursos Humanos</span>
    </a>
  </div>
</nav>
<br>

<div class="container d-flex justify-content-center btn-group btn-group-justified" style="margin: 0 auto">

  <button (click)="Calificaciones()" class="btn btn-outline-primary">Calificaciones</button>
  <button (click)=" Examen()" class="btn btn-outline-primary" style=" margin-left:20px;">Examen</button>


</div>
<hr>
<router-outlet></router-outlet>
