<div class="card">
  <h1 style="text-align:center ;">Calificaciones</h1>
  <div class="formgrid grid">

    <div class="field col">
      <label for="firstname2">La siguiente afirmacion es:</label>
      <div class="formgroup-inline">
        <div class="field-radiobutton">
          <input type="radio" name="hcity" id="city7">
          <label for="city7">Verdadera</label>
        </div>
        <div class="field-radiobutton">
          <input type="radio" name="hcity" id="city8">
          <label for="city8">Falso</label>
        </div>
      </div>
    </div>

    <div class="field col">
      <label for="firstname2">La siguiente afirmacion es:</label>
      <div class="formgroup-inline">
        <div class="field-radiobutton">
          <input type="radio" name="hcity" id="city7">
          <label for="city7">Verdadera</label>
        </div>
        <div class="field-radiobutton">
          <input type="radio" name="hcity" id="city8">
          <label for="city8">Falso</label>
        </div>
      </div>
    </div>


  </div>

  <div class="formgrid grid">

    <div class="field col">
      <label for="firstname2">La siguiente afirmacion es:</label>
      <div class="formgroup-inline">
        <div class="field-radiobutton">
          <input type="radio" name="hcity" id="city7">
          <label for="city7">Verdadera</label>
        </div>
        <div class="field-radiobutton">
          <input type="radio" name="hcity" id="city8">
          <label for="city8">Falso</label>
        </div>
      </div>
    </div>

    <div class="field col">
      <label for="firstname2">La siguiente afirmacion es:</label>
      <div class="formgroup-inline">
        <div class="field-radiobutton">
          <input type="radio" name="hcity" id="city7">
          <label for="city7">Verdadera</label>
        </div>
        <div class="field-radiobutton">
          <input type="radio" name="hcity" id="city8">
          <label for="city8">Falso</label>
        </div>
      </div>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="field col">
      <label for="firstname2">Cual de la siguientes respuesta es correcta:</label>
      <div class="field-radiobutton">
        <input type="radio" name="vcity" id="city5">
        <label for="city5">Respuesta1</label>
      </div>
      <div class="field-radiobutton">
        <input type="radio" name="vcity" id="city6">
        <label for="city6">Respuesta2</label>
      </div>
      <div class="field-radiobutton">
        <input type="radio" name="vcity" id="city6">
        <label for="city6">Respuesta3</label>
      </div>
    </div>
    <div class="field col">
      <label for="lastname2">Selecciona una respuesta</label>
      <select id="state"
        class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
        style="appearance: auto">
        <option>Arizona</option>
        <option>California</option>
        <option>Florida</option>
        <option>Ohio</option>
        <option>Washington</option>
      </select>

    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col">
      <label for="firstname2">La siguiente afirmacion es:</label>
      <input id="firstname2" type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
      <label for="lastname2">Escribe la respuesta correcta</label>
      <input id="lastname2" type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col">
      <label for="firstname2">La siguiente afirmacion es:</label>
      <input id="firstname2" type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field col">
      <label for="lastname2">Escribe la respuesta correcta</label>
      <input id="lastname2" type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
  </div>

</div>
